* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}

body {
    background-color: rgba(47, 77, 177, 0.801);
    background-repeat: no-repeat;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form {
    width: 70%;
    margin: 4.5% auto;
    padding: 2% 4%;
    height: 510px;
    background-color: rgb(209, 212, 212);
    border-radius: 12px;
    overflow-y: scroll;
    flex-direction: column;
    position: relative;
}

.userInfo, .parentDetail, .educationHeading {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.educationHeading {
    justify-content: space-between;
    margin: 3% 0% 0% 0%;
}

form>h1 {
    text-align: center;
    color: rgb(75, 46, 240);
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.qualificationContainer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
    transition: 2s;
    padding: 0% 2%;
    align-items: center;
}

form input, form select {
    padding: 1%;
    border-radius: 12px;
    border: none;
    width: 25%;
}

.removeButton {
    cursor: pointer;
    color: red;
    font-size: 30px;
    padding: 0.1%;
    height: fit-content;
}

.addButton{
    cursor: pointer;
    color: rgb(23, 124, 3);
    font-size: 21px;
    height: fit-content;
    padding: 1%;
    font-weight: bolder;
    margin: 0% 1% 0% 0%;
}

.qualificationContainer input, .qualificationContainer button {
    margin-right: 2%;
}

input:focus, select:focus {
    outline: none;
    border: none;
}

#submitButton {
    position: absolute;
    top: 100%;
    right: 0px;
    margin: 2% 0%;
    padding: 1% 2%;
    border: none;
    background-color:  rgb(75, 46, 240);
    color: white;
    border-radius: 12px;
}
#container {
    margin: 2% 0%;
    position: relative;
    border: 1px solid rgb(163, 159, 159);
    border-radius: 12px;
}

#submitButton:disabled {
    background-color: grey;
}

